[submodule "data"]
	path = data
	url = https://github.com/shogun-toolbox/shogun-data.git
	branch = master
[submodule "debian"]
	path = debian
	url = https://github.com/shogun-toolbox/shogun-debian.git
[submodule "gpl"]
	path = src/gpl
	url = https://github.com/shogun-toolbox/shogun-gpl.git
